<ion-view title="Add Review" id="page_review_add">
    <ion-content padding="true" class="has-header" style="background: #EEEEEE">
        <div class="col" style="background-color: white">
            <div class="row">
                <!--<rating ng-model="rating.rate" max="rating.max"></rating>-->
                <div class="rating">
                    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                </div>
            </div>                
            <div class="row">
                <div class="col">
                    <h4>Description</h4>
                    <label class="item item-input" id="personalDetails-input3">
                        <textarea ng-model="review.analysis" rows="8" cols="50">
                       At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies. 
                        </textarea>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4>Pros</h4>
                    <ul>
                        <li>
                            <label class="item item-input" id="personalDetails-input3">
                                <input ng-model="review.heighlites" type="text" placeholder="Add Here" ng-model="form.numberOfTickets">
                            </label>                            
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4>Cons</h4>
                    <ul>
                        <li>
                            <label class="item item-input" id="personalDetails-input3">
                                <input ng-model="review.drawbacks" type="text" placeholder="Add Here" ng-model="form.numberOfTickets">
                            </label>                                                        
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4>Tagline</h4>
                    <label class="item item-input" id="personalDetails-input3">
                        <input ng-model="review.tagline" type="text" placeholder="Add Here" ng-model="form.numberOfTickets">
                    </label>                                                    
                </div>
            </div>
            <div class="row">
                <div class="col"> 
                    <button id="form2-Publish" style="font-weight:600;" class="button button-assertive button-block" ng-click="submitReviewClick()">SUBMIT</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>

