<ion-view title="Login" id="page_login">
    <ion-content padding="true" class="has-header" style="background: #EEEEEE">
        <div class="col" style="background-color: white">
            <div class="col">
                <div class="row"> 
                    <button id="form2-Publish" style="font-weight:600;" class="button button-assertive button-block icon ion-social-googleplus" ng-click="onGoogleLoginClick()"> Sign through Google</button>
                </div>
                <div class="row"> 
                    <button id="form2-Publish" style="font-weight:600;" class="button button-assertive button-block icon ion-social-facebook" ng-click="onFacebookLoginClick()"> Sign through Facebook</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>

