        <div class="row" style="background-color: white;padding: 0px">
            <div class="col col-60">
                <div class="row row-center" style="padding: 0px">
                    <div class="col" style="padding: 0px">
                        <h5 id="sellersList-heading3" class="balanced" align="left" style="font-weight:900;align-content: flex-end">Spiderman:Home Coming</h5>
                    </div>
                </div>
                <div class="row row-center" style="padding: 0px">
                    <h5 id="sellersList-heading3" class="balanced" align="left" style="font-weight:900;align-content: flex-end">Telugu</h5>
                    <h5 id="sellersList-heading3" class="balanced" align="left" style="font-weight:900;align-content: flex-end;margin-left: 5%">3-D</h5>
                    <h5 id="sellersList-heading3" class="balanced" align="left" style="font-weight:900;align-content: flex-end;margin-left: 5%">UA</h5>
                </div>                
            </div>
            <div class="col col-center">
                <div class="row row-center">
                    <div class="col col-50">
                        <button id="seller-buy" style="font-weight:600;display: table-cell" class="button  buttons-right button-assertive button-outline"  ng-click="buyOnClick(item)">Buy</button>
                    </div>
                    <div class="col col-50">
                        <button id="seller-buy" style="font-weight:600;" class="button  buttons-right button-assertive button-outline" ng-click="buyOnClick(item)">Sell</button>
                    </div>  
                </div>
            </div>
        </div>
